@if(pageInfo?.['title']){
<div class="bg-white rounded p-y-30 p-x-24 m-b-30 overflow-hidden">
  <div class="row">
    <div class="col-sm-2">
      <h4 class="page-title m-0 f-s-20 f-w-600 m-b-16">
        {{ pageInfo?.['title'] }}
      </h4>
      <div class="d-flex align-items-center overflow-hidden">
        <ul class="breadcrumb">
          @for (url of pageInfo?.['urls']; track url.url;let index = $index,last
          = $last ) { @if(!last){

          <li class="breadcrumb-item" [routerLink]="url.url">
            <a [routerLink]="url.url">{{ url.title }}</a>
          </li>
          }@else {
          <li class="breadcrumb-item">
            <i-tabler name="circle-filled" class="icon-8"></i-tabler>
          </li>
          <li class="breadcrumb-item active">{{ url.title }}</li>
          } }
        </ul>
      </div>
    </div>
    <!-- <div class="p-y-16">
      <div class="d-flex align-items-center justify-content-center gap-10 ">
        @for (item of dataFriends$ | async; track item.recipient_gmail) {
        <div style="border: 2px solid navy; border-radius: 8px;" class="p-10">
          <div class="d-flex align-items-center">
            <img class="rounded-circle" src="assets/images/profile/user-2.jpg" width="40" />
            <div class="m-l-16">
              <p class="f-w-600 mat-subtitle-1 f-s-16 m-t-0 text-ellipsis">
                {{ item.recipient_gmail }}
              </p>
              <div class="d-flex align-items-center justify-content-between">
                <small class="mat-body-1 f-s-14">
                  {{ item.total | number:'1.0-0' }} VNĐ                  
                </small>
                <small class="mat-body-1 f-s-14">
                  12%                 
                </small>
                <i-tabler (click)="cancelInvitation(item.recipient_gmail)" name="trash" class="icon-20 cursor-pointer hover-icon-trash"></i-tabler>                
              </div>
            </div>
            <style>
              .hover-icon-trash:hover {
                color: red;                
              }
              .text-ellipsis {
                max-width: 200px;
                width: 200px;
                /* hoặc bất kỳ giá trị nào bạn muốn */
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                /* hoặc block nếu cần chiếm 1 dòng */
              }
            </style>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="col-sm-2 text-center position-relative">  
      <div >
        
        <div class="d-flex align-items-center justify-content-center gap-10">
          
          <div style="width: 100%; border: 1px solid navy; border-radius: 8px;" class="p-10">
            <img [src]="(dataPlan$ | async)[0]?.image" alt="breadcrumb" width="80" />
            <h4 class="page-title m-0 f-s-14 f-w-600 m-b-4">
             {{ (dataPlan$ | async)[0]?.name }} <span class="m-l-10 mat-subtitle-1 f-s-12 m-t-0"> {{ (dataPlan$ | async)[0]?.price | number:'1.0-0' }} VNĐ</span>
            </h4>
            
            <div class="d-flex align-items-center justify-content-center gap-4">
              <p class="f-w-600 mat-subtitle-1 f-s-12 m-t-0">{{ (dataPlan$ | async)[0]?.date_start }}</p>
              <p class="f-w-600 mat-subtitle-1 f-s-10 m-t-0"> - </p>
              <p class="f-w-600 mat-subtitle-1 f-s-12 m-t-0">{{ (dataPlan$ | async)[0]?.date_end }}</p>           
            </div>
          </div>
          <div>
            <i-tabler name="device-tablet-plus" class="icon-30 cursor-pointer hover-icon-edit"></i-tabler> <br>
            <i-tabler name="edit" class="icon-30 cursor-pointer hover-icon-edit"></i-tabler> <br>
            <i-tabler name="trash" class="icon-30 cursor-pointer hover-icon-trash"></i-tabler> 
          </div>
          
        </div>
        
        
      </div>  
      
      
    </div> -->
  </div>
</div>
}