<div class="main">
  <div class="container-main">

    <!-- <div class="card-blue">
      <div class="d-relative">
        <div class="dot-main">
          <div class="dot">
            <svg xmlns="http://www.w3.org/2000/svg" width="74" height="46" viewBox="0 0 74 46" fill="none">
              <circle cx="10.2361" cy="10.5294" r="10" fill="white" fill-opacity="0.7"/>
              <circle cx="24.2361" cy="10.5294" r="10" fill="white" fill-opacity="0.7"/>
            </svg>
          </div>          
        </div>
        <div class="text-bankHD-main">
          <div class="text-bankHD">
            HDFC Banks
          </div>
        </div>
        <div class="shadow-white-main">
          <div class="shadow-white"></div>
        </div>

        <div class="text-balance-main">
          <div class="text-balance">
            Balance
          </div>
          <div class="text-money">
            $ 430.90
          </div>
        </div>

        <div class="number-card-main">
          <div class="number-card">
            ****7728
          </div>
        </div>

        <div class="date-card-main">
          <div class="date-card">
            06/22
          </div>
        </div>
      </div>      
    </div>

    <div class="card-yellow">
      <div class="d-relative">
        <div class="dot-main">
          <div class="dot">
            <svg xmlns="http://www.w3.org/2000/svg" width="74" height="46" viewBox="0 0 74 46" fill="none">
              <circle cx="10.2361" cy="10.5294" r="10" fill="white" fill-opacity="0.7"/>
              <circle cx="24.2361" cy="10.5294" r="10" fill="white" fill-opacity="0.7"/>
            </svg>
          </div>          
        </div>
        <div class="text-bankHD-main">
          <div class="text-bankHD">
            HDFC Banks
          </div>
        </div>
        <div class="shadow-white-main">
          <div class="shadow-white"></div>
        </div>

        <div class="text-balance-main">
          <div class="text-balance">
            Balance
          </div>
          <div class="text-money">
            $ 356.90
          </div>
        </div>

        <div class="number-card-main">
          <div class="number-card">
            ****7728
          </div>
        </div>

        <div class="date-card-main">
          <div class="date-card">
            06/22
          </div>
        </div>



      </div>
      
    </div> -->

    <div class="row">

      <div class="col-12" >
        <div class="row">
          <div class="col-2 d-desktop">
            <div class="cross-bar-main">
              <div class="cross-bar">
              </div>
              <div class="cross-bar">
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d-block d-desktop" style="text-align: end;margin-right: 20px; margin-top: 20px;">
              <img src="assets/images/backgrounds/bg-welcome.png" class="images-bg-style" alt="" />
            </div>

            <div class="d-mobile m-t-20 text-center">
              <img src="assets/images/backgrounds/card-blue-welcome.png" class="images-card-blue" alt="" />
              <img src="assets/images/backgrounds/card-yellow-welcome.png" class="images-card-yellow" alt="" />
            </div>
          </div>
        </div>
      </div>
     

      <div class="col-12">
        <div class="container-text-main">
          <div class="container-text ">
            <div class="text-welcome">WELCOME TO WEBSITE</div>
            <div class="text-description">Manage Your Cards. All in One Place</div>
            <div class="button-main" (click)="goLogin()">
              <span class="button-title">Get Started</span> 
            </div>
            
          </div>
        </div>
      </div>

      

    </div>

    
    

   

  

    <div class="round-shadow-main d-desktop">
      <div class="round-shadow" ></div>
    </div>
   
  </div> 
  
</div>