<div class="main">
  <div class="container-main">
    <div class="row">

      <div class="col-12" >
        <div class="row">
          <div class="col-2 d-desktop">
            <div class="cross-bar-main">
              <div class="cross-bar">
              </div>
              <div class="cross-bar">
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d-block d-desktop" style="text-align: end;margin-right: 20px; margin-top: 20px;">
              <img src="assets/images/backgrounds/bg-welcome.png" class="images-bg-style" alt="" />
            </div>

            <div class="d-mobile m-t-20 text-center">
              <img src="assets/images/backgrounds/card-blue-welcome.png" class="images-card-blue" alt="" />
              <img src="assets/images/backgrounds/card-yellow-welcome.png" class="images-card-yellow" alt="" />
            </div>
          </div>
        </div>
      </div>
     

      <div class="col-12">
        <div class="container-text-main">
          <div class="container-text ">
            <div class="text-welcome">WELCOME TO WEBSITE</div>
            <div class="text-description">Manage Your Cards. All in One Place</div>
            <div class="button-main" (click)="goLogin()">
              <span class="button-title">Get Started</span> 
            </div>
            
          </div>
        </div>
      </div>

      

    </div>

    
    

   

  

    <div class="round-shadow-main d-desktop">
      <div class="round-shadow" ></div>
    </div>
   
  </div> 
  
</div>