<!-- 
<h2 mat-dialog-title class="mat-subtitle-1">{{data.title}}</h2>
<div mat-dialog-content class="mat-subtitle-2 lh-16">
  {{data.message}}
</div>
<div mat-dialog-actions class="p-24 p-t-0">
  <button mat-stroked-button color="warn" (click)="cancle()" mat-dialog-close>No</button>
  <button mat-flat-button color="primary" (click)="save()" cdkFocusInitial>Ok</button>
</div>



 -->


 <mat-card class="cardWithShadow rounded-8 elevation-1" style="min-height: 600px; margin-bottom: 0px">
  <mat-card-content class="text-center p-8" style="cursor: pointer; position: relative">
      <div class="card-top-main m-t-10">

          <div class="card-top">  
              <div class="d-flex justify-content-between">
                   

                  <div class="logo-bank-main">
                      <div>
                          <svg xmlns="http://www.w3.org/2000/svg" width="45" height="32" viewBox="0 0 45 32" fill="none">
                              <rect x="0.765137" y="0.0562706" width="44.2" height="30.94" rx="10.3133" transform="rotate(0.0657437 0.765137 0.0562706)" fill="black" fill-opacity="0.56"/>
                              <line x1="20.4801" y1="24.2416" x2="20.4995" y2="7.29828" stroke="white" stroke-width="2.06266" stroke-linecap="round"/>
                              <path d="M6.04604 20.1733L20.19 20.1896M10.2544 12.0012L20.1994 12.0126" stroke="white" stroke-width="2.06266" stroke-linecap="round"/>
                              <path d="M26.3801 18.2077L36.9881 18.2198M27.0497 12.4624L40.5307 12.4779" stroke="white" stroke-width="2.06266" stroke-linecap="round"/>
                              <line x1="25.7841" y1="24.2477" x2="25.8035" y2="7.30436" stroke="white" stroke-width="2.06266" stroke-linecap="round"/>
                              <path d="M32.1213 22.4133L32.1251 19.0983" stroke="white" stroke-width="2.06266" stroke-linecap="round"/>
                              <path d="M36.5525 12.6943L36.5563 9.37931" stroke="white" stroke-width="2.06266" stroke-linecap="round"/>
                              </svg>
                      </div>
                  </div>
                  <div class="name-bank-main">
                      <div class="name-bank">{{data.bank_name || 'Vietinbank'}}</div>
                  </div> 
              </div>

              <div class="number-card-main">
                  <div class="number-card">
                      XXXX <span class="m-l-8"></span>     XXXX <span class="m-l-8"></span>     XXXX <span class="m-l-8"></span>     {{data.card_number || '1773'}}
                  </div>
              </div>

              <div class="logo-master-card-main">
                  <div>
                      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="27" viewBox="0 0 40 27" fill="none">
                          <circle cx="13.5658" cy="13.5017" r="12.8917" transform="rotate(0.0657437 13.5658 13.5017)" fill="white" fill-opacity="0.5"/>
                          <circle cx="26.4574" cy="13.5165" r="12.8917" transform="rotate(0.0657437 26.4574 13.5165)" fill="white" fill-opacity="0.5"/>
                        </svg>
                  </div>
                  <div class="master-card-text">
                      Mastercard
                  </div>
              </div>

          </div>
      </div>

      
      <div class="card-title" style="margin-top:20px; margin-bottom: 20px ;">Add Card</div>

    
      <form [formGroup]="cardsForm" (ngSubmit)="onSubmit()">
        <div class="d-flex align-items-center justify-content-between gap-16 p-l-16 p-r-16">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24 text-left" style="line-height: 1.5"
              >Bank Name
          </mat-label>
          <!-- <mat-form-field appearance="outline" class="w-100" style="width: 20rem" >
            <input matInput placeholder="Vietinbank"/>
          </mat-form-field> -->

          <!-- <mat-form-field class="w-100" appearance="outline">
            <input type="text" placeholder="Chọn tên công trình" aria-label="Number" matInput
              [formControl]="congTrinhControl" [matAutocomplete]="auto" (focus)="onFocusCongTrinh()" />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelectedCongTrinh($event)">
              @for(firstoption of congTrinhFilterOption | async; track
              firstoption) {
              <mat-option [value]="firstoption">
                {{ firstoption}}
              </mat-option>
              }
            </mat-autocomplete>
            <mat-icon matSuffix>{{ isDropdownOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
          </mat-form-field> -->


          <mat-form-field class="w-100" appearance="outline" style="width: 20rem">         
            <input
              type="text"
              placeholder=""
              aria-label="Number"
              matInput
              [formControl]="firstControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelectedBank($event)">
              @for(firstoption of filteredOptions | async; track
              firstoption) {
              <mat-option [value]="firstoption">
                {{ firstoption }}
              </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
  
        <div class="d-flex align-items-center justify-content-between gap-16 p-l-16 p-r-16">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24 text-left" style="line-height: 1.5"
              >Card Number
          </mat-label>
          <mat-form-field appearance="outline" class="w-100" style="width: 20rem" >
            <input formControlName="card_number" matInput placeholder="4 số cuối của thẻ"/>
            <div *ngIf="cardsForm.controls['card_number'].invalid && cardsForm.controls['card_number'].touched">
              Card number must be at least 4 characters.
            </div>
          </mat-form-field>
        </div>
  
        <div class="d-flex align-items-center justify-content-between gap-16 p-l-16 p-r-16">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24 text-left" style="line-height: 1.5"
              >Due Date
          </mat-label>
          <mat-form-field appearance="outline" class="w-100" style="width: 20rem" >
            <input matInput formControlName="due_date" placeholder=""/>
            <div *ngIf="cardsForm.controls['due_date'].invalid && cardsForm.controls['due_date'].touched">
              Must be between 1 and 12.
            </div>
          </mat-form-field>
        </div>
  
        <div class="d-flex align-items-center justify-content-between gap-16 p-l-16 p-r-16">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24 text-left" style="line-height: 1.5"
              >Remaining Month
          </mat-label>
          <mat-form-field appearance="outline" class="w-100" style="width: 20rem" >
            <input matInput formControlName="remaining_month" placeholder=""/>
            
          </mat-form-field>
        </div>
  
        <div class="d-flex align-items-center justify-content-between gap-16 p-l-16 p-r-16">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-24 text-left" style="line-height: 1.5"
              >Money Per Month
          </mat-label>
          <mat-form-field appearance="outline" class="w-100" style="width: 20rem" >
            <input matInput formControlName="money_per_month" placeholder="" />
            <div *ngIf="cardsForm.controls['remaining_month'].invalid && cardsForm.controls['money_per_month'].touched">
              Must be at least 1,000.
            </div>
          </mat-form-field>        
        </div>
  
        <div class="d-flex align-items-center justify-content-between gap-16 p-l-16 p-r-16">
         
          <mat-radio-group formControlName="send" >
            <mat-radio-button class="m-r-32" [value]="true" color="primary"
              >Send</mat-radio-button
            >
            <mat-radio-button [value]="false" color="primary"
              >Non-Send</mat-radio-button
            >
          </mat-radio-group>       
        </div>
      </form>
      

      
          
      <div class="d-flex align-items-center justify-content-end gap-4">
        <div mat-dialog-actions class=" p-t-0 d-flex justify-content-end">
          <!-- <button mat-stroked-button color="warn" (click)="cancle()" mat-dialog-close>No</button> -->
          <button mat-flat-button color="primary" (click)="cancle()" cdkFocusInitial>Huỷ</button>
        </div>
       
        <div mat-dialog-actions class=" p-t-0 d-flex justify-content-end">
          <!-- <button mat-stroked-button color="warn" (click)="cancle()" mat-dialog-close>No</button> -->
          <button mat-flat-button color="primary" (click)="save()" cdkFocusInitial>Hoàn thành</button>
        </div>
      </div>
  </mat-card-content>
</mat-card>


