.bg-images{
    
    
}

.button-close{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.button-close:hover{
    background-color: red;
    // color: black;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.8;
}